body, html, #app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-cascader-panel{
  height: 200px!important;
}
.el-step__title{
  font-size: 13px!important;
}
.ql-editor{
  min-height: 300px;
}